        
        <form action="/api/users" id="add_user" method="POST">
            <div class="new_user">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="name" value="" placeholder="eg. Darshit Thakker"> 
                </div>
                <div class="form-group">
                    <label for="Email">Email</label> 
                    <input type="hidden" name="id" value="">
                    <input type="text" name="email" value="" placeholder="eg. DarshitThakker@gmail.com"> 
                </div>
                <div class="form-group">
                    
                    <div class="radio inline">
                        <label for="gender">Gender : </label>
                        <input id="radio2" type="radio" name="gender" value="Male"> 
                        <label for="radio2" class="radio-label">Male</label>
                    </div>
                    <div class="radio inline">
                        
                        <input id="radio3" type="radio" name="gender" value="Female"> 
                        <label for="radio3" class="radio-label">Female</label>
                    </div>
                </div>

                <div class="form-group">
                    
                    <div class="radio inline">
                        <label for="status">Status : </label>
                        <input id="radio4" type="radio" name="status" value="Active"> 
                        <label for="radio4" class="radio-label">Active</label>
                    </div>
                    <div class="radio inline">
                        
                        <input id="radio5" type="radio" name="status" value="Inactive"> 
                        <label for="radio5" class="radio-label">Inactive</label>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn text-dark update ">Submit</button>
                </div>
            </div>
        </form>